<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /vuejs_hry/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /vuejs_hry/index.html [L]
</IfModule>